.HeatmapVis_root__37PXC {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 0;
}

.HeatmapVis_tooltipValue__y1Kz1 {
  margin-top: 0.25rem;
}

.HeatmapVis_tooltipValue__y1Kz1 > strong {
  font-weight: 600;
  font-size: 1.125em;
}

.VisCanvas_canvasArea__3-FLl {
  position: relative;
  flex: 1 1;
  overflow: hidden; /* prevent overflow when resizing */
}

.VisCanvas_canvasWrapper__Y1c0J {
  width: 100%; /* fill container by default (unless size is passed in JSX) */
  height: 100%;
  margin: 0 auto;
}

.VisCanvas_r3fRoot__1e3ke {
  overflow: visible !important; /* show child axis grid, which is bigger than canvas */
  background-color: transparent;
  background-color: var(--h5w-canvas--bgColor, transparent);
}

.AxisSystem_axisSystem__WkolN {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    '. axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.AxisSystem_axisSystem__WkolN > svg {
  display: block;
  overflow: visible;

  /* Avoid potential overflow caused by default intrinsic size of `svg` elements. */
  /* Chrome/Edge require values greater than 0. */
  width: 1px;
  height: 1px;
}

.AxisSystem_axis__Iuh_C[data-type='abscissa'] {
  grid-area: bottom-axis;
}

.AxisSystem_axis__Iuh_C[data-type='ordinate'] {
  grid-area: axis-grid;
}

.AxisSystem_axis__Iuh_C > g > line {
  stroke: gray;
  stroke: var(--h5w-grid--color, gray);
  stroke-opacity: 0.33;
  stroke-opacity: var(--h5w-grid--opacity, 0.33);
}

.AxisSystem_tick__uaHcJ > line {
  stroke: gray;
  stroke: var(--h5w-ticks--color, gray);
}

.AxisSystem_tick__uaHcJ > text {
  fill: currentColor;
  color: #333;
  color: var(--h5w-tickLabels--color, #333);
  font-family: inherit;
  font-family: var(--h5w-tickLabels--fontFamily, inherit);
  font-size: inherit;
  font-size: var(--h5w-tickLabels--fontSize, inherit);
}

.AxisSystem_label__1dcc1 {
  fill: currentColor;
  color: #333;
  color: var(--h5w-axisLabels--color, #333);
  font-family: inherit;
  font-family: var(--h5w-axisLabels--fontFamily, inherit);
  font-size: inherit;
  font-size: var(--h5w-axisLabels--fontSize, inherit);
  font-weight: 600;
  font-weight: var(--h5w-axisLabels--fontWeight, 600);
  text-anchor: middle;
}

.AxisSystem_title__33hc0 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: top-axis;
  margin: 0;
  color: inherit;
  color: var(--h5w-plotTitle--color, inherit);
  font-family: inherit;
  font-family: var(--h5w-plotTitle--fontFamily, inherit);
  font-size: 1.125em;
  font-size: var(--h5w-plotTitle--fontSize, 1.125em);
  font-weight: inherit;
  font-weight: var(--h5w-plotTitle--fontWeight, inherit);
}

.AxisSystem_grid__17H7t {
  grid-area: axis-grid;
}

.AxisSystem_grid__17H7t line {
  stroke: gray;
  stroke: var(--h5w-grid--color, gray);
  stroke-opacity: 0.33;
  stroke-opacity: var(--h5w-grid--opacity, 0.33);
}

.TooltipMesh_tooltip__2FOuI {
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  background-color: var(--h5w-tooltip--bgColor, rgba(255, 255, 255, 0.9));
  border-radius: 0.25rem;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 1px 2px;
  color: inherit;
  color: var(--h5w-tooltip--color, inherit);
  font-family: inherit;
  font-family: var(--h5w-tooltip--fontFamily, inherit);
  font-size: 0.75em;
  font-size: var(--h5w-tooltip--fontSize, 0.75em);
}

.TooltipMesh_guides__1Jdok {
  width: 100%;
  height: 100%;
  stroke: gray;
  stroke: var(--h5w-tooltip-guide--color, gray);
  stroke-width: 1.5;
  stroke-width: var(--h5w-tooltip-guide--width, 1.5);
  stroke-opacity: 0.5;
  stroke-opacity: var(--h5w-tooltip-guide--opacity, 0.5);
}

.ColorBar_colorBar__zvOm0 {
  position: relative;
  z-index: 0; /* stacking context */
  display: grid;
  padding: 1rem;
}

.ColorBar_colorBar__zvOm0:not([data-horizontal]) {
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 2.25rem 2.75rem;
  grid-template-areas:
    'max .'
    'gradient axis'
    'min .';
}

.ColorBar_colorBar__zvOm0[data-horizontal] {
  height: 7rem;
  grid-template-rows: 2.25rem 2.5rem;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas:
    'min gradient max'
    '. axis .';
}

.ColorBar_gradientBar__2-9U6 {
  grid-area: gradient;
  display: flex;
  border: 1px solid currentColor;
  z-index: 1; /* above axis ticks */
}

.ColorBar_gradient__1wsE5 {
  flex: 1 1;
  background-repeat: no-repeat; /* fix subtle bug where gradient is repeated over 1px */
}

.ColorBar_axis__1F1hO {
  grid-area: axis;
  display: block;
  overflow: visible;
  transform: translateY(0.5px); /* fix sub-pixel misalignment */
}

.ColorBar_tick__15YpA line {
  stroke: gray;
  stroke: var(--h5w-colorBar-ticks--color, var(--h5w-ticks--color, gray));
}

.ColorBar_tick__15YpA text {
  fill: currentColor;
  color: #333;
  color: var(
    --h5w-colorBar-tickLabels--color,
    var(--h5w-tickLabels--color, #333)
  );
  font-family: inherit;
  font-family: var(
    --h5w-colorBar-tickLabels--fontFamily,
    var(--h5w-tickLabels--fontFamily, inherit)
  );
  font-size: 0.75em;
  font-size: var(--h5w-colorBar-tickLabels--fontSize, 0.75em);
}

.ColorBar_bound__2fVK4 {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  color: #333;
  color: var(--h5w-colorBar-bounds--color, #333);
  font-size: 0.875em;
  font-size: var(--h5w-colorBar-bounds--fontSize, 0.875em);
  line-height: 1;
  white-space: nowrap;
}

.ColorBar_minBound__16_oG {
  grid-area: min;
  margin: 0.5rem 0 -0.25rem;
}

.ColorBar_maxBound__3NWcK {
  grid-area: max;
  margin: -0.25rem 0 0.5rem;
}

.ColorBar_colorBar__zvOm0[data-horizontal] .ColorBar_bound__2fVK4 {
  min-width: 3.75em; /* keep bounds equal on both sides in most cases */
}

.ColorBar_colorBar__zvOm0[data-horizontal] .ColorBar_minBound__16_oG {
  justify-content: flex-end;
  margin: 0 0.5rem 0 -0.25rem;
}

.ColorBar_colorBar__zvOm0[data-horizontal] .ColorBar_maxBound__3NWcK {
  justify-content: flex-start;
  margin: 0 -0.25rem 0 0.5rem;
}


/*# sourceMappingURL=HeatmapVisDisplay-stories.2188f962.chunk.css.map*/