:root {
  --black: #020402;
  --near-black: #333;
  --dark-slate-gray: #2f4f4f;
  --dark-gray: #696969;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --white: #fff;
  --primary: #c0da74;
  --primary-light: #d4e09b;
  --primary-dark: #9aae5d;
  --primary-bg: #f5fbef;
  --primary-light-bg: #fafdf7;
  --primary-light-bg-70: #fafdf7b3;
  --primary-dark-bg: #dde2d7;
  --secondary: #8cdfc7;
  --secondary-light: #b7fcf3;
  --secondary-lighter: #dbfef9;
  --secondary-dark: #1b998b;
  --secondary-dark-15: #1b998b26;
  --secondary-darker: #0e5846;
  --secondary-bg: #d9f4ec;
  --secondary-light-bg: #ecfaf6;
  --secondary-light-bg-90: #ebfaf5e6;
  --danger: #99231b;
  --warn: #973c00;
  --monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --btn-bg-raised: var(--white);
  --btn-shadow-raised: 0 0 1px;
  --btn-shadow-idle: -1px -1px 2px 0 inset;
  --btn-shadow-idle-hover: -2px -2px 2px 0 inset;
  --btn-shadow-pressed: 1px 1px 2px 0 inset;
  --btn-shadow-color: var(--gray);
  --btn-shadow-dark-color: var(--dark-gray);
  --btn-shadow-darker-color: var(--dark-slate-gray);
}

:root {
  --h5w-line--color: var(--secondary-dark);
  --h5w-line--colorAux: var(--secondary);
  --h5w-matrix--fontFamily: var(--monospace);
  --h5w-matrix-cell--bgColorAlt: var(--secondary-light-bg);
  --h5w-matrix-indexCell--bgColor: var(--primary-bg);
  --h5w-matrix-indexCell--bgColorAlt: var(--primary-light-bg);
  --h5w-matrix-anchorCell--bgColor: var(--primary-dark-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  line-height: 1.2;
  color: var(--black);
}

@media (min-width: 50em) {
  body {
    font-size: 1.125rem;
  }
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: var(--monospace);
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}
.btn-clean {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-align: left;
  white-space: normal;
  cursor: pointer;
}

.btn-clean:disabled,
.btn-clean[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

.btn-link {
  composes: btn-clean from global;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
}

.btn-link:hover {
  text-decoration: underline;
}

.reflex-splitter {
  width: 5px !important;
  border-color: var(--light-gray) !important;
  transition: background-color 0.2s ease-in-out !important;
}

.reflex-splitter:hover {
  background-color: var(--light-gray) !important;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    filter: invert();

    /* Set shadows to lighter colors so they remain dark once inverted */
    --btn-shadow-color: #f5f5f5;
    --btn-shadow-dark-color: #fafafa;
    --btn-shadow-darker-color: #fff;
  }

  .no-invert {
    filter: invert(); /* invert back to normal colors */
  }

  .no-invert-canvas > canvas {
    filter: invert(); /* invert back to normal colors */
  }
}



.MatrixVis_wrapper__30-P6 {
  flex: 1 1;
  min-width: 0;
  min-height: 0;
}

.MatrixVis_grid__2z-N0 {
  color: var(--h5w-matrix--color, inherit);
  font-family: var(--h5w-matrix--fontFamily, monospace);
  font-size: var(--h5w-matrix--fontSize, inherit);
  scrollbar-width: thin;
}

.MatrixVis_cell__2ZJ8b {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 0.25rem;
  background-color: var(--h5w-matrix-cell--bgColor, transparent);
}

.MatrixVis_cell__2ZJ8b[data-bg] {
  background-color: var(--h5w-matrix-cell--bgColorAlt, #eee);
}

.MatrixVis_indexCell__1_oM0 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--h5w-matrix-indexCell--bgColor, #eee);
  color: var(--h5w-matrix-indexCell--color, var(--h5w-matrix--color, inherit));
  font-family: var(
    --h5w-matrix-indexCell--fontFamily,
    var(--h5w-matrix--fontFamily, monospace)
  );
  font-size: var(
    --h5w-matrix-indexCell--fontSize,
    var(--h5w-matrix--fontSize, inherit)
  );
  font-weight: var(--h5w-matrix-indexCell--fontWeight, 600);
}

.MatrixVis_indexCell__1_oM0[data-bg] {
  background-color: var(--h5w-matrix-indexCell--bgColorAlt, lightgray);
}

.MatrixVis_stickyGrid__32xM2[data-sticky] .MatrixVis_stickyElement__c2Ysd {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
}

.MatrixVis_indexRow__3vA4P {
  display: flex;
  z-index: 2;
}

.MatrixVis_indexColumn__3tWwz {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.MatrixVis_anchorCell__3sK7w {
  align-items: stretch;
  z-index: 3;
}

.MatrixVis_innerContainer__2Vwzl {
  display: flex;
}

.MatrixVis_anchorBtn__1vu9g {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MatrixVis_anchorBtn__1vu9g:hover,
.MatrixVis_anchorBtn__1vu9g[aria-pressed='true'] {
  background-color: var(--h5w-matrix-anchorCell--bgColor, silver);
}

.LineVis_root__39r6c {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 1rem;
}

.VisCanvas_visArea__82c5m {
  flex: 1 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent overflow when enabling `keepAspectRatio` */
}

.VisCanvas_vis__yc-fW {
  flex: none;
}

/* R3F's root element */
.VisCanvas_canvasWrapper__2spCw {
  overflow: visible !important; /* show child axis grid, which is bigger than canvas */
  background-color: var(--h5w-canvas--bgColor, transparent);
}

.AxisSystem_axisSystem__19hPO {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    '. axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.AxisSystem_axisSystem__19hPO > svg {
  display: block;
  overflow: visible;

  /* Avoid potential overflow caused by default intrinsic size of `svg` elements. */
  /* Chrome/Edge require values greater than 0. */
  width: 1px;
  height: 1px;
}

.AxisSystem_axis__3WzmG[data-type='abscissa'] {
  grid-area: bottom-axis;
}

.AxisSystem_axis__3WzmG[data-type='ordinate'] {
  grid-area: axis-grid;
}

.AxisSystem_tick__2cDlf > line {
  stroke: var(--h5w-ticks--color, gray);
}

.AxisSystem_tick__2cDlf > text {
  fill: currentColor;
  color: var(--h5w-tickLabels--color, #333);
  font-family: var(--h5w-tickLabels--fontFamily, inherit);
  font-size: var(--h5w-tickLabels--fontSize, inherit);
}

.AxisSystem_label__3v_gK {
  fill: currentColor;
  color: var(--h5w-axisLabels--color, #333);
  font-family: var(--h5w-axisLabels--fontFamily, inherit);
  font-size: var(--h5w-axisLabels--fontSize, inherit);
  font-weight: var(--h5w-axisLabels--fontWeight, 600);
  text-anchor: middle;
}

.AxisSystem_title__fMEdr {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: top-axis;
  margin-bottom: 0;
  color: var(--h5w-plotTitle--color, inherit);
  font-family: var(--h5w-plotTitle--fontFamily, inherit);
  font-size: var(--h5w-plotTitle--fontSize, 1.125em);
  font-weight: var(--h5w-plotTitle--fontWeight, inherit);
}

.AxisSystem_grid__ohRGd {
  grid-area: axis-grid;
}

.AxisSystem_grid__ohRGd line {
  stroke: var(--h5w-grid--color, gray);
  stroke-opacity: var(--h5w-grid--opacity, 0.33);
}

.TooltipMesh_tooltip__Elx2C {
  padding: 0.25rem 0.5rem;
  background-color: var(--h5w-tooltip--bgColor, whitesmoke);
  border-radius: 0.25rem;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 1px 2px;
  color: var(--h5w-tooltip--color, inherit);
  font-family: var(--h5w-tooltip--fontFamily, inherit);
  font-size: var(--h5w-tooltip--fontSize, 0.75em);
}

.TooltipMesh_guides__lbQGd {
  stroke: var(--h5w-tooltip-guide--color, gray);
  stroke-width: var(--h5w-tooltip-guide--width, 1.5);
  stroke-opacity: var(--h5w-tooltip-guide--opacity, 0.5);
}

.TooltipMesh_tooltipValue__V0pkp {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}

.HeatmapVis_root__BKPci {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 0;
}

.ColorBar_colorBar__39u-6 {
  display: grid;
  padding: 1rem;
}

.ColorBar_colorBar__39u-6:not([data-horizontal]) {
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 2.25rem 2.75rem;
  grid-template-areas:
    'max .'
    'gradient axis'
    'min .';
}

.ColorBar_colorBar__39u-6[data-horizontal] {
  height: 7rem;
  grid-template-rows: 2.25rem 2.5rem;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas:
    'min gradient max'
    '. axis .';
}

.ColorBar_gradientBar__1mhuU {
  grid-area: gradient;
  display: flex;
  border: 1px solid var(--black);
}

.ColorBar_gradient__3uRdN {
  flex: 1 1;
  background-repeat: no-repeat; /* fix subtle bug where gradient is repeated over 1px */
}

.ColorBar_axis__22dR5 {
  grid-area: axis;
  display: block;
  overflow: visible;
}

.ColorBar_tick__Yej21 line {
  stroke: var(--h5w-colorBar-ticks--color, var(--h5w-ticks--color, gray));
}

.ColorBar_tick__Yej21 text {
  fill: currentColor;
  color: var(
    --h5w-colorBar-tickLabels--color,
    var(--h5w-tickLabels--color, #333)
  );
  font-family: var(
    --h5w-colorBar-tickLabels--fontFamily,
    var(--h5w-tickLabels--fontFamily, inherit)
  );
  font-size: var(--h5w-colorBar-tickLabels--fontSize, 0.75em);
}

.ColorBar_bound__2YDG5 {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  color: var(--h5w-colorBar-bounds--color, #333);
  font-size: var(--h5w-colorBar-bounds--fontSize, 0.875em);
  line-height: 1;
  white-space: nowrap;
}

.ColorBar_minBound__2U6wW {
  grid-area: min;
  margin: 0.5rem 0 -0.25rem;
}

.ColorBar_maxBound__svuSh {
  grid-area: max;
  margin: -0.25rem 0 0.5rem;
}

.ColorBar_colorBar__39u-6[data-horizontal] .ColorBar_bound__2YDG5 {
  min-width: 3.75em; /* keep bounds equal on both sides in most cases */
}

.ColorBar_colorBar__39u-6[data-horizontal] .ColorBar_minBound__2U6wW {
  justify-content: flex-end;
  margin: 0 0.5rem 0 -0.25rem;
}

.ColorBar_colorBar__39u-6[data-horizontal] .ColorBar_maxBound__svuSh {
  justify-content: flex-start;
  margin: 0 -0.25rem 0 0.5rem;
}


/*# sourceMappingURL=main.43c4a04b.chunk.css.map*/