.ScalarVis_scalar__3FHGh {
  padding: 1rem 1.5rem;
  font-family: var(--monospace);
}

.LineVis_root__39r6c {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 1rem;
}

.LineVis_root__39r6c canvas {
  /* This sets the default color of the line */
  color: var(--secondary-dark);
}

.VisCanvas_visArea__82c5m {
  flex: 1 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent overflow when enabling `keepAspectRatio` */
}

.VisCanvas_vis__yc-fW {
  flex: none;
}

/* R3F's root element */
.VisCanvas_canvasWrapper__2spCw {
  overflow: visible !important; /* show child axis grid, which is bigger than canvas */
}

.AxisSystem_axisSystem__19hPO {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    '. axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
  --primary-axis-color: var(--dark-slate-gray);
  --secondary-axis-color: var(--gray);
}

.AxisSystem_axisSystem__19hPO > svg {
  display: block;
  overflow: visible;

  /* Avoid potential overflow caused by default intrinsic size of `svg` elements. */
  /* Chrome/Edge require values greater than 0. */
  width: 1px;
  height: 1px;
}

.AxisSystem_axis__3WzmG[data-type='abscissa'] {
  grid-area: bottom-axis;
  text-anchor: middle;
}

.AxisSystem_axis__3WzmG[data-type='ordinate'] {
  grid-area: axis-grid; /* `AxisLeft` aligns ticks to the outer left of its own bounding box  */
  text-anchor: end;
}

.AxisSystem_grid__ohRGd {
  grid-area: axis-grid;
}

.AxisSystem_grid__ohRGd line {
  stroke: var(--secondary-axis-color);
  stroke-opacity: 0.33;
}

.AxisSystem_tick__2cDlf > line {
  stroke: var(--secondary-axis-color);
}

.AxisSystem_tick__2cDlf > text {
  fill: var(--primary-axis-color);
  font-family: inherit;
  font-size: inherit;
  text-anchor: inherit;
  dominant-baseline: inherit;
}

.AxisSystem_label__3v_gK {
  fill: var(--primary-axis-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  text-anchor: middle;
}

.AxisSystem_title__fMEdr {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: top-axis;
  margin-bottom: 0;
  color: var(--primary-axis-color);
  font-size: 1.125em;
}

.TooltipMesh_tooltip__Elx2C {
  color: inherit !important;
  background-color: var(--primary-light-bg-70) !important;
}

.TooltipMesh_guides__lbQGd {
  stroke: var(--secondary-axis-color);
  stroke-width: 1.5;
  stroke-opacity: 0.5;
}

.TooltipMesh_tooltipValue__V0pkp {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}

.HeatmapVis_root__BKPci {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.HeatmapVis_textureLoader__wjsuo {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5) 60%,
    transparent
  );
  background-position-x: -50%;
  background-size: 35% 100%; /* allows animating position in percent */
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.HeatmapVis_textureLoader__wjsuo[data-visible] {
  opacity: 1;
  animation: HeatmapVis_shiftBg__2-XZO 1s ease-in-out infinite;
}

@keyframes HeatmapVis_shiftBg__2-XZO {
  to {
    background-position-x: 150%;
  }
}

.ColorBar_colorBar__39u-6 {
  display: flex;
  padding: 1em;
}

.ColorBar_colorBar__39u-6:not([data-horizontal]) {
  width: 6em;
  min-height: 0;
}

.ColorBar_colorBar__39u-6[data-horizontal] {
  flex-direction: column;
  height: 6em;
  min-width: 0;
}

.ColorBar_colorBarAxis__2j7xr {
  display: block;
  overflow: visible;
  align-self: center;
}

.ColorBar_gradient__3uRdN {
  flex: 1 0 auto;
  border: 1px solid black;
}


/*# sourceMappingURL=main.37d20026.chunk.css.map*/