.ColorBar_colorBar__3AyII {
  display: flex;
  padding: 1em;
}

.ColorBar_colorBar__3AyII:not([data-horizontal]) {
  width: 6em;
  min-height: 0;
}

.ColorBar_colorBar__3AyII[data-horizontal] {
  flex-direction: column;
  height: 6em;
  min-width: 0;
}

.ColorBar_colorBarAxis__4-BhM {
  display: block;
  overflow: visible;
  align-self: center;
}

.ColorBar_gradient__3wW7U {
  flex: 1 0 auto;
  border: 1px solid black;
}

.HeatmapVis_root__1UbhL {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.HeatmapVis_textureLoader__3zep6 {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5) 60%,
    transparent
  );
  background-position-x: -50%;
  background-size: 35% 100%; /* allows animating position in percent */
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.HeatmapVis_textureLoader__3zep6[data-visible] {
  opacity: 1;
  animation: HeatmapVis_shiftBg__ivSDB 1s ease-in-out infinite;
}

@keyframes HeatmapVis_shiftBg__ivSDB {
  to {
    background-position-x: 150%;
  }
}

.TooltipMesh_tooltip__2WGMb {
  color: inherit !important;
  background-color: rgba(245, 251, 239, 0.7) !important;
}

.TooltipMesh_tooltipValue__1dfEv {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}

.VisCanvas_visArea__3vo9d {
  flex: 1 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent overflow when enabling `keepAspectRatio` */
}

.VisCanvas_vis__6RqaZ {
  flex: none;
}

/* R3F's root element */
.VisCanvas_canvasWrapper__iaH4C {
  overflow: visible !important; /* show child axis grid, which is bigger than canvas */
}

.AxisSystem_axisSystem__12e1S {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    '. axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.AxisSystem_axisSystem__12e1S > svg {
  display: block;
  overflow: visible;

  /* Avoid potential overflow caused by default intrinsic size of `svg` elements. */
  /* Chrome/Edge require values greater than 0. */
  width: 1px;
  height: 1px;
}

.AxisSystem_axis__4Bl9-[data-type='abscissa'] {
  grid-area: bottom-axis;
  text-anchor: middle;
}

.AxisSystem_axis__4Bl9-[data-type='ordinate'] {
  grid-area: axis-grid; /* `AxisLeft` aligns ticks to the outer left of its own bounding box  */
  text-anchor: end;
}

.AxisSystem_grid__QOVr- {
  grid-area: axis-grid;
}

.AxisSystem_tick__1jl4s > text {
  fill: darkslategrey;
  font-family: inherit;
  font-size: inherit;
  text-anchor: inherit;
  dominant-baseline: inherit;
}

.AxisSystem_label__VgMi5 {
  fill: darkslategrey;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  text-anchor: middle;
}

.AxisSystem_title__19cE8 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: top-axis;
  margin-bottom: 0;
  color: darkslategrey;
  font-size: 1.125em;
}

.ScalarVis_scalar__3Rkpv {
  padding: 1rem 1.5rem;
  font-family: var(--monospace);
}

.LineVis_root__3Kfed {
  flex: 1 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 1rem;
}


/*# sourceMappingURL=main.90793a97.chunk.css.map*/